In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None
import string
df = pd.read_json("Magazine_Subscriptions.json", lines=True)
df.to_csv()
df["asin"] = df["asin"].apply(str)
df['reviewText'] = df['reviewText'].str.lower()
df['reviewText'] = df['reviewText'].str.replace('[^\w\s]','',regex=True)
df['reviewText'] = df['reviewText'].fillna("NoReview")
df_reviews = df[["reviewerID","asin","reviewText"]]
df_reviews.head()

         asin                                         reviewText
0  B00005N7P0  for computer enthusiast maxpc is a welcome sig...
1  B00005N7P0  thank god this is not a ziff davis publication...
2  B00005N7OJ  antiques magazine is a publication made for an...
3  B00005N7OJ  this beautiful magazine is in itself a work of...
4  B00005N7P0                           a great read every issue

In [2]:
reviewCounts = pd.Series([y for x in df_reviews.values.flatten() for y in x.split()]).value_counts()
reviewCounts.head(50)

the             174797
i               121482
and             115459
to              108471
a                93202
of               75283
it               70257
magazine         67653
is               60526
for              59388
this             55926
in               45258
that             39275
my               39237
on               31389
have             29855
you              28464
not              27018
are              26845
but              25317
with             25273
great            22966
as               22173
was              20719
articles         17815
they             17512
be               17410
love             16717
like             16553
subscription     16260
read             16061
its              15940
so               15919
good             15408
all              14830
issue            14541
about            14455
or               14078
one              14023
has              13600
if               13288
me               12726
more             12559
at               12436
from             12367
just             12040
very             11924
an               11586
get              11476
there            10943
dtype: int64

In [3]:
input = "This magazine is great, and the stories are very interesting."
input = input.lower()
input = input.translate(str.maketrans('', '', string.punctuation))
input

'this magazine is great and the stories are very interesting'

In [4]:
from sklearn.metrics.pairwise import cosine_similarity
df_Sim = df_reviews
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/Vincent/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
input_set = set(word_tokenize(input))
df_Sim['tokenReview'] = df_Sim['reviewText'].apply(word_tokenize).apply(set) 
df_Sim.head()

,asin,reviewText,tokenReview
0,B00005N7P0,for computer enthusiast maxpc is a welcome sig...,"{i, most, source, connections, best, mags, was..."
1,B00005N7P0,thank god this is not a ziff davis publication...,"{print, think, i, ziff, their, to, but, good, ..."
2,B00005N7OJ,antiques magazine is a publication made for an...,"{also, i, most, dedicated, interests, decided,..."
3,B00005N7OJ,this beautiful magazine is in itself a work of...,"{discovered, i, it, fascinating, including, be..."
4,B00005N7P0,a great read every issue,"{issue, great, a, read, every}"

In [7]:
df_Sim['Similarity'] = 0
for index, row in df_Sim.iterrows():
    currVector = input_set.union(row['tokenReview'])
    l1 =[];l2 =[]
    for w in currVector:
        if w in input_set: l1.append(1)
        else: l1.append(0)
        if w in row['tokenReview']: l2.append(1)
        else: l2.append(0)
    c = 0
    for i in range(len(currVector)):
        c+= l1[i]*l2[i]
    if sum(l2) == 0:
        df_Sim.loc[index, 'Similarity'] = 0
    else:
        df_Sim.loc[index, 'Similarity'] = c / float((sum(l1)*sum(l2))**0.5)
df_Sim.head()

,asin,reviewText,tokenReview,Similarity
0,B00005N7P0,for computer enthusiast maxpc is a welcome sig...,"{i, most, source, connections, best, mags, was...",0.146176
1,B00005N7P0,thank god this is not a ziff davis publication...,"{print, think, i, ziff, their, to, but, good, ...",0.144673
2,B00005N7OJ,antiques magazine is a publication made for an...,"{also, i, most, dedicated, interests, decided,...",0.178885
3,B00005N7OJ,this beautiful magazine is in itself a work of...,"{discovered, i, it, fascinating, including, be...",0.300000
4,B00005N7P0,a great read every issue,"{issue, great, a, read, every}",0.141421

In [9]:
df_Sim.sort_values(by=['Similarity'], ascending=False)

,asin,reviewText,tokenReview,Similarity
73095,B00YQH9856,this magazine is very interesting and informative,"{informative, magazine, interesting, and, very...",0.717137
15372,B00005N7QG,love this magazine and the price is great,"{price, great, magazine, and, love, the, this,...",0.670820
37269,B00007B10Y,wonderful magazine and very great stories,"{great, magazine, stories, very, and, wonderful}",0.645497
81565,B000BYD9V2,great magazine very interesting and informative,"{informative, great, magazine, interesting, ve...",0.645497
67029,B005DNA3LU,the magazine is colorful and interesting,"{magazine, interesting, the, and, colorful, is}",0.645497
...,...,...,...,...
80244,B00008WETF,as advertised,"{advertised, as}",0.000000
62525,B001C4Q06G,i have yet to receive an issue,"{an, issue, yet, i, receive, to, have}",0.000000
62526,B001C4Q06G,thanks,{thanks},0.000000
35809,B00007B10Y,always enjoy,"{enjoy, always}",0.000000
49145,B000ICB4T6,wife loves it,"{wife, loves, it}",0.000000